* {
    margin: 0;
    padding: 0;
}

/* header section style */

header {
    background: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header-sec-container {
    width: 525px;
    margin-left: auto;
    margin-right: 200px;
    padding-top: 200px;
    padding-bottom: 150px;
    
}

.header-title {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
}

.header-description {
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.header-btn {
    border: none;
}

.btn-contact {
    text-align: right;
    margin-top: 50px;
}
.header-btn a {
    text-decoration: none;
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    padding: 18px 25px;
    font-weight: 600;
    background: #FFF;
    border-radius: 5px;
}




/* main section 1 */

.failure-sec {
    
    margin: auto;
    display: flex;
    gap: 30px;
    width: 80%;
    margin-top: 100px;
}

.picture-area {

    width: 50%;
    text-align: center;
}
.failure-text-area {
    
    width: 40%;
    padding-top: 200px;
    padding-left: 80px;
}

.failure-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    width: 300px;
    line-height: 50px;
    margin-bottom: 30px;
}

.ul-area ul {
    padding-left: 20px;
    margin-top: 30px;
}

.failure-des {
    width: 400px;
}

.ul-area li {
    list-style-type: '✔️';
}